In [10]:
import pandas as pd
import json
import numpy
import csv
city_json = json.load(open('city_data.json'))

In [4]:
x = (city_json[0]['fields']['name'],
    city_json[0]['fields']['admin1_code'],
    city_json[0]['fields']['population'],
    city_json[0]['geometry']['coordinates'])

x

('Minerva Park', 'OH', 1318, [-82.94379, 40.07645])

In [5]:
city_df = pd.DataFrame()
index = 0

for dictionary in city_json:
    city_df.loc[index,'city'] = dictionary['fields']['name']
    city_df.loc[index,'state'] = dictionary['fields']['admin1_code']
    city_df.loc[index,"population"] = dictionary['fields']['population']
    city_df.loc[index,'lng'] =(dictionary['geometry']['coordinates'][0])
    city_df.loc[index,'lat'] =(dictionary['geometry']['coordinates'][1])
    index+=1

city_df

                     city state  population        lng       lat
0            Minerva Park    OH      1318.0  -82.94379  40.07645
1                   Piqua    OH     20790.0  -84.24244  40.14477
2           Portage Lakes    OH      6968.0  -81.52706  41.00728
3           Reminderville    OH      3976.0  -81.39511  41.34589
4                 Toronto    OH      4882.0  -80.60091  40.46423
...                   ...   ...         ...        ...       ...
16724  Spring Valley Lake    CA      8220.0 -117.26832  34.49364
16725     Hide-A-Way Lake    MS      1859.0  -89.64020  30.56492
16726           Woodstock    ME      1263.0  -70.60849  44.37494
16727         Scotts Mill    NC      2400.0  -78.88390  35.72666
16728     New Century, KS    KS      1072.0  -94.89971  38.82253

[16729 rows x 5 columns]

In [6]:
city_df = city_df.groupby(['state','city','lng','lat'])['population'].max()

In [7]:
qwerty = pd.DataFrame(city_df)
big = {}
for i, col in qwerty.iterrows():
    if i[0] not in big:
        big[i[0]]=[i[1], i[2],i[3]], col[0]
    elif i[0] in big:
        if big[i[0]][1] < col[0]:
            big[i[0]]=[i[1], i[2],i[3]], col[0]

big
with open("biggest_cities_per_state.json", "w") as outfile: 
    json.dump(big,outfile )

In [8]:
cities = json.load(open('biggest_cities_per_state.json'))
cities["AK"]

[['Anchorage', -149.90028, 61.21806], 298695.0]

In [14]:
big_cities_df = pd.DataFrame()
for key in cities:
    big_cities_df.loc[index,'city'] = cities[key][0][0]
    big_cities_df.loc[index,'state'] = key
    big_cities_df.loc[index,"population"] = cities[key][1]
    big_cities_df.loc[index,'lng'] =cities[key][1]
    big_cities_df.loc[index,'lat'] =cities[key][1]
    print(cities[key][0])
    index+=1
big_cities_df.to_csv("large_cities.csv")
big_cities_df

['Anchorage', -149.90028, 61.21806]
['Birmingham', -86.80249, 33.52066]
['Little Rock', -92.28959, 34.74648]
['Phoenix', -112.07404, 33.44838]
['Los Angeles', -118.24368, 34.05223]
['Denver', -104.9847, 39.73915]
['Bridgeport', -73.18945, 41.17923]
['Washington', -77.03637, 38.89511]
['Wilmington', -75.54659, 39.74595]
['Jacksonville', -81.65565, 30.33218]
['Atlanta', -84.38798, 33.749]
['Honolulu', -157.85833, 21.30694]
['Des Moines', -93.60911, 41.60054]
['Boise', -116.20345, 43.6135]
['Chicago', -87.65005, 41.85003]
['Indianapolis', -86.15804, 39.76838]
['Wichita', -97.33754, 37.69224]
['Lexington-Fayette', -84.45855, 38.0498]
['New Orleans', -90.07507, 29.95465]
['Boston', -71.05977, 42.35843]
['Baltimore', -76.61219, 39.29038]
['Portland', -70.2589, 43.65737]
['Detroit', -83.04575, 42.33143]
['Minneapolis', -93.26384, 44.97997]
['Kansas City', -94.57857, 39.09973]
['Jackson', -90.18481, 32.29876]
['Billings', -108.50069, 45.78329]
['Charlotte', -80.84313, 35.22709]
['Fargo', -96.7898, 46.87719]
['Omaha', -95.94043, 41.25626]
['Manchester', -71.45479, 42.99564]
['Newark', -74.17237, 40.73566]
['Albuquerque', -106.65114, 35.08449]
['Las Vegas', -115.13722, 36.17497]
['New York City', -74.00597, 40.71427]
['Columbus', -82.99879, 39.96118]
['Oklahoma City', -97.51643, 35.46756]
['Portland', -122.67621, 45.52345]
['Philadelphia', -75.16379, 39.95233]
['Providence', -71.41283, 41.82399]
['Columbia', -81.03481, 34.00071]
['Sioux Falls', -96.70033, 43.54997]
['Memphis', -90.04898, 35.14953]
['Houston', -95.36327, 29.76328]
['Salt Lake City', -111.89105, 40.76078]
['Virginia Beach', -75.97799, 36.85293]
['Burlington', -73.21207, 44.47588]
['Seattle', -122.33207, 47.60621]
['Milwaukee', -87.90647, 43.0389]
['Charleston', -81.63262, 38.34982]
['Cheyenne', -104.82025, 41.13998]

                    city state  population        lng        lat
16933          Anchorage    AK    298695.0   298695.0   298695.0
16934         Birmingham    AL    212461.0   212461.0   212461.0
16935        Little Rock    AR    197992.0   197992.0   197992.0
16936            Phoenix    AZ   1563025.0  1563025.0  1563025.0
16937        Los Angeles    CA   3971883.0  3971883.0  3971883.0
16938             Denver    CO    682545.0   682545.0   682545.0
16939         Bridgeport    CT    147629.0   147629.0   147629.0
16940         Washington    DC    601723.0   601723.0   601723.0
16941         Wilmington    DE     71948.0    71948.0    71948.0
16942       Jacksonville    FL    868031.0   868031.0   868031.0
16943            Atlanta    GA    463878.0   463878.0   463878.0
16944           Honolulu    HI    371657.0   371657.0   371657.0
16945         Des Moines    IA    210330.0   210330.0   210330.0
16946              Boise    ID    145987.0   145987.0   145987.0
16947            Chicago    IL   2720546.0  2720546.0  2720546.0
16948       Indianapolis    IN    829718.0   829718.0   829718.0
16949            Wichita    KS    389965.0   389965.0   389965.0
16950  Lexington-Fayette    KY    314488.0   314488.0   314488.0
16951        New Orleans    LA    389617.0   389617.0   389617.0
16952             Boston    MA    667137.0   667137.0   667137.0
16953          Baltimore    MD    621849.0   621849.0   621849.0
16954           Portland    ME     66881.0    66881.0    66881.0
16955            Detroit    MI    677116.0   677116.0   677116.0
16956        Minneapolis    MN    410939.0   410939.0   410939.0
16957        Kansas City    MO    475378.0   475378.0   475378.0
16958            Jackson    MS    170674.0   170674.0   170674.0
16959           Billings    MT    110263.0   110263.0   110263.0
16960          Charlotte    NC    827097.0   827097.0   827097.0
16961              Fargo    ND    118523.0   118523.0   118523.0
16962              Omaha    NE    443885.0   443885.0   443885.0
16963         Manchester    NH    110229.0   110229.0   110229.0
16964             Newark    NJ    281944.0   281944.0   281944.0
16965        Albuquerque    NM    559121.0   559121.0   559121.0
16966          Las Vegas    NV    623747.0   623747.0   623747.0
16967      New York City    NY   8175133.0  8175133.0  8175133.0
16968           Columbus    OH    850106.0   850106.0   850106.0
16969      Oklahoma City    OK    631346.0   631346.0   631346.0
16970           Portland    OR    632309.0   632309.0   632309.0
16971       Philadelphia    PA   1567442.0  1567442.0  1567442.0
16972         Providence    RI    179207.0   179207.0   179207.0
16973           Columbia    SC    133803.0   133803.0   133803.0
16974        Sioux Falls    SD    171544.0   171544.0   171544.0
16975            Memphis    TN    655770.0   655770.0   655770.0
16976            Houston    TX   2296224.0  2296224.0  2296224.0
16977     Salt Lake City    UT    192672.0   192672.0   192672.0
16978     Virginia Beach    VA    452745.0   452745.0   452745.0
16979         Burlington    VT     42452.0    42452.0    42452.0
16980            Seattle    WA    684451.0   684451.0   684451.0
16981          Milwaukee    WI    600155.0   600155.0   600155.0
16982         Charleston    WV     49736.0    49736.0    49736.0
16983           Cheyenne    WY     63335.0    63335.0    63335.0