In [17]:
import pandas as pd
import json
import numpy

city_json = json.load(open('city_data.json'))

In [18]:
x = (city_json[0]['fields']['name'],
    city_json[0]['fields']['admin1_code'],
    city_json[0]['fields']['population'],
    city_json[0]['geometry']['coordinates'])

x

('Minerva Park', 'OH', 1318, [-82.94379, 40.07645])

In [19]:
city_df = pd.DataFrame()
index = 0

for dictionary in city_json:
    city_df.loc[index,'city'] = dictionary['fields']['name']
    city_df.loc[index,'state'] = dictionary['fields']['admin1_code']
    city_df.loc[index,"population"] = dictionary['fields']['population']
    city_df.loc[index,'lng'] =(dictionary['geometry']['coordinates'][0])
    city_df.loc[index,'lat'] =(dictionary['geometry']['coordinates'][1])
    index+=1

city_df

                     city state  population        lng       lat
0            Minerva Park    OH      1318.0  -82.94379  40.07645
1                   Piqua    OH     20790.0  -84.24244  40.14477
2           Portage Lakes    OH      6968.0  -81.52706  41.00728
3           Reminderville    OH      3976.0  -81.39511  41.34589
4                 Toronto    OH      4882.0  -80.60091  40.46423
...                   ...   ...         ...        ...       ...
16724  Spring Valley Lake    CA      8220.0 -117.26832  34.49364
16725     Hide-A-Way Lake    MS      1859.0  -89.64020  30.56492
16726           Woodstock    ME      1263.0  -70.60849  44.37494
16727         Scotts Mill    NC      2400.0  -78.88390  35.72666
16728     New Century, KS    KS      1072.0  -94.89971  38.82253

[16729 rows x 5 columns]

In [20]:
city_df = city_df.groupby(['state','city','lng','lat'])['population'].max()

In [21]:
qwerty = pd.DataFrame(city_df)
big = {}
for i, col in qwerty.iterrows():
    if i[0] not in big:
        big[i[0]]=[i[1], i[2],i[3]], col[0]
    elif i[0] in big:
        if big[i[0]][1] < col[0]:
            big[i[0]]=[i[1], i[2],i[3]], col[0]

big
with open("biggest_cities_per_state.json", "w") as outfile: 
    json.dump(big,outfile )

In [22]:
big_city_json = json.load(open("biggest_cities_per_state.json"))
big_city_json

{'AK': [['Anchorage', -149.90028, 61.21806], 298695.0],
 'AL': [['Birmingham', -86.80249, 33.52066], 212461.0],
 'AR': [['Little Rock', -92.28959, 34.74648], 197992.0],
 'AZ': [['Phoenix', -112.07404, 33.44838], 1563025.0],
 'CA': [['Los Angeles', -118.24368, 34.05223], 3971883.0],
 'CO': [['Denver', -104.9847, 39.73915], 682545.0],
 'CT': [['Bridgeport', -73.18945, 41.17923], 147629.0],
 'DC': [['Washington', -77.03637, 38.89511], 601723.0],
 'DE': [['Wilmington', -75.54659, 39.74595], 71948.0],
 'FL': [['Jacksonville', -81.65565, 30.33218], 868031.0],
 'GA': [['Atlanta', -84.38798, 33.749], 463878.0],
 'HI': [['Honolulu', -157.85833, 21.30694], 371657.0],
 'IA': [['Des Moines', -93.60911, 41.60054], 210330.0],
 'ID': [['Boise', -116.20345, 43.6135], 145987.0],
 'IL': [['Chicago', -87.65005, 41.85003], 2720546.0],
 'IN': [['Indianapolis', -86.15804, 39.76838], 829718.0],
 'KS': [['Wichita', -97.33754, 37.69224], 389965.0],
 'KY': [['Lexington-Fayette', -84.45855, 38.0498], 314488.0],
 'LA': [['New Orleans', -90.07507, 29.95465], 389617.0],
 'MA': [['Boston', -71.05977, 42.35843], 667137.0],
 'MD': [['Baltimore', -76.61219, 39.29038], 621849.0],
 'ME': [['Portland', -70.2589, 43.65737], 66881.0],
 'MI': [['Detroit', -83.04575, 42.33143], 677116.0],
 'MN': [['Minneapolis', -93.26384, 44.97997], 410939.0],
 'MO': [['Kansas City', -94.57857, 39.09973], 475378.0],
 'MS': [['Jackson', -90.18481, 32.29876], 170674.0],
 'MT': [['Billings', -108.50069, 45.78329], 110263.0],
 'NC': [['Charlotte', -80.84313, 35.22709], 827097.0],
 'ND': [['Fargo', -96.7898, 46.87719], 118523.0],
 'NE': [['Omaha', -95.94043, 41.25626], 443885.0],
 'NH': [['Manchester', -71.45479, 42.99564], 110229.0],
 'NJ': [['Newark', -74.17237, 40.73566], 281944.0],
 'NM': [['Albuquerque', -106.65114, 35.08449], 559121.0],
 'NV': [['Las Vegas', -115.13722, 36.17497], 623747.0],
 'NY': [['New York City', -74.00597, 40.71427], 8175133.0],
 'OH': [['Columbus', -82.99879, 39.96118], 850106.0],
 'OK': [['Oklahoma City', -97.51643, 35.46756], 631346.0],
 'OR': [['Portland', -122.67621, 45.52345], 632309.0],
 'PA': [['Philadelphia', -75.16379, 39.95233], 1567442.0],
 'RI': [['Providence', -71.41283, 41.82399], 179207.0],
 'SC': [['Columbia', -81.03481, 34.00071], 133803.0],
 'SD': [['Sioux Falls', -96.70033, 43.54997], 171544.0],
 'TN': [['Memphis', -90.04898, 35.14953], 655770.0],
 'TX': [['Houston', -95.36327, 29.76328], 2296224.0],
 'UT': [['Salt Lake City', -111.89105, 40.76078], 192672.0],
 'VA': [['Virginia Beach', -75.97799, 36.85293], 452745.0],
 'VT': [['Burlington', -73.21207, 44.47588], 42452.0],
 'WA': [['Seattle', -122.33207, 47.60621], 684451.0],
 'WI': [['Milwaukee', -87.90647, 43.0389], 600155.0],
 'WV': [['Charleston', -81.63262, 38.34982], 49736.0],
 'WY': [['Cheyenne', -104.82025, 41.13998], 63335.0]}

In [23]:
x = (city_json[0]['fields']['name'],
    city_json[0]['fields']['admin1_code'],
    city_json[0]['fields']['population'],
    city_json[0]['geometry']['coordinates'])

x

('Minerva Park', 'OH', 1318, [-82.94379, 40.07645])

In [24]:

big_city_df = pd.DataFrame()
index = 0

for dictionary in big_city_json:
    big_city_df.loc[index,'city'] = dictionary['fields']['name']
    big_city_df.loc[index,'state'] = dictionary['fields']['admin1_code']
    big_city_df.loc[index,"population"] = dictionary['fields']['population']
    big_city_df.loc[index,'lng'] =(dictionary['geometry']['coordinates'][0])
    big_city_df.loc[index,'lat'] =(dictionary['geometry']['coordinates'][1])
    index+=1

big_city_df

TypeError: string indices must be integers