In [501]:
import pandas as pd
import json
import numpy

city_json = json.load(open('city_data.json'))

In [502]:
x = (city_json[0]['fields']['name'],
    city_json[0]['fields']['admin1_code'],
    city_json[0]['fields']['population'],
    city_json[0]['geometry']['coordinates'])

x

('Minerva Park', 'OH', 1318, [-82.94379, 40.07645])

In [503]:
city_df = pd.DataFrame()
index = 0

for dictionary in city_json:
    city_df.loc[index,'city'] = dictionary['fields']['name']
    city_df.loc[index,'state'] = dictionary['fields']['admin1_code']
    city_df.loc[index,"population"] = dictionary['fields']['population']
    city_df.loc[index,'lng'] =(dictionary['geometry']['coordinates'][0])
    city_df.loc[index,'lat'] =(dictionary['geometry']['coordinates'][1])
    index+=1

city_df

                     city state  population        lng       lat
0            Minerva Park    OH      1318.0  -82.94379  40.07645
1                   Piqua    OH     20790.0  -84.24244  40.14477
2           Portage Lakes    OH      6968.0  -81.52706  41.00728
3           Reminderville    OH      3976.0  -81.39511  41.34589
4                 Toronto    OH      4882.0  -80.60091  40.46423
...                   ...   ...         ...        ...       ...
16724  Spring Valley Lake    CA      8220.0 -117.26832  34.49364
16725     Hide-A-Way Lake    MS      1859.0  -89.64020  30.56492
16726           Woodstock    ME      1263.0  -70.60849  44.37494
16727         Scotts Mill    NC      2400.0  -78.88390  35.72666
16728     New Century, KS    KS      1072.0  -94.89971  38.82253

[16729 rows x 5 columns]

In [504]:
city_df = city_df.groupby(['state','city','lng','lat'])['population'].max()

In [510]:
qwerty = pd.DataFrame(city_df)
big = {}
for i, col in qwerty.iterrows():
    if i[0] not in big:
        big[i[0]]=[i[1], i[2],i[3]], col[0]
    elif i[0] in big:
        if big[i[0]][1] < col[0]:
            big[i[0]]=[i[1], i[2],i[3]], col[0]

big
with open("biggest_cities_per_state.json", "w") as outfile: 
    json.dump(big,outfile )