In [1]:
#imports
import pandas as pd
import json
import numpy
import requests

In [14]:
#import biggest cities data
cities_file = 'biggest_cities_per_state.json'
with open(cities_file ,'r') as file:
    city_data = json.loads(file.read())
    
#make into dataframe
cities_info = pd.json_normalize(city_data).T
cities_info.head()

                                                   0
AK     [[Anchorage, -149.90028, 61.21806], 298695.0]
AL     [[Birmingham, -86.80249, 33.52066], 212461.0]
AR    [[Little Rock, -92.28959, 34.74648], 197992.0]
AZ      [[Phoenix, -112.07404, 33.44838], 1563025.0]
CA  [[Los Angeles, -118.24368, 34.05223], 3971883.0]

In [13]:
#clean df
cities_list = []
lng_list = []
lat_list = []
population_list = []

for i in range(51):
    population_list.append(cities_info[0][i][1])
    cities_list.append(cities_info[0][i][0][0])
    lng_list.append(cities_info[0][i][0][1])
    lat_list.append(cities_info[0][i][0][2])
    
cities_info["City"] = cities_list
cities_info["Latitude"] = lat_list 
cities_info["Longitude"] = lng_list
cities_info["Population"] = population_list
cities_info_clean = cities_info[["City","Latitude","Longitude","Population"]]
cities_info_clean = cities_info_clean.reset_index(drop=False)
cities_info_clean = cities_info_clean.rename(columns={"index":"State"})
cities_info_clean.head()

  State         City  Latitude  Longitude  Population
0    AK    Anchorage  61.21806 -149.90028    298695.0
1    AL   Birmingham  33.52066  -86.80249    212461.0
2    AR  Little Rock  34.74648  -92.28959    197992.0
3    AZ      Phoenix  33.44838 -112.07404   1563025.0
4    CA  Los Angeles  34.05223 -118.24368   3971883.0