In [2]:
#imports
import pandas as pd
import json
import numpy
import requests

In [3]:
#import biggest cities data
cities_file = 'biggest_cities_per_state.json'
with open(cities_file ,'r') as file:
    city_data = json.loads(file.read())
    
#make into dataframe
cities_info = pd.json_normalize(city_data).T
cities_info.head()

                                                   0
AK     [[Anchorage, -149.90028, 61.21806], 298695.0]
AL     [[Birmingham, -86.80249, 33.52066], 212461.0]
AR    [[Little Rock, -92.28959, 34.74648], 197992.0]
AZ      [[Phoenix, -112.07404, 33.44838], 1563025.0]
CA  [[Los Angeles, -118.24368, 34.05223], 3971883.0]

In [4]:
#clean df
cities_list = []
lng_list = []
lat_list = []
population_list = []

for i in range(51):
    population_list.append(cities_info[0][i][1])
    cities_list.append(cities_info[0][i][0][0])
    lng_list.append(cities_info[0][i][0][1])
    lat_list.append(cities_info[0][i][0][2])
    
cities_info["City"] = cities_list
cities_info["Latitude"] = lat_list 
cities_info["Longitude"] = lng_list
cities_info["Population"] = population_list
cities_info_clean = cities_info[["City","Latitude","Longitude","Population"]]
cities_info_clean = cities_info_clean.reset_index(drop=False)
cities_info_clean = cities_info_clean.rename(columns={"index":"State"})
cities_info_clean

   State               City  Latitude  Longitude  Population
0     AK          Anchorage  61.21806 -149.90028    298695.0
1     AL         Birmingham  33.52066  -86.80249    212461.0
2     AR        Little Rock  34.74648  -92.28959    197992.0
3     AZ            Phoenix  33.44838 -112.07404   1563025.0
4     CA        Los Angeles  34.05223 -118.24368   3971883.0
5     CO             Denver  39.73915 -104.98470    682545.0
6     CT         Bridgeport  41.17923  -73.18945    147629.0
7     DC         Washington  38.89511  -77.03637    601723.0
8     DE         Wilmington  39.74595  -75.54659     71948.0
9     FL       Jacksonville  30.33218  -81.65565    868031.0
10    GA            Atlanta  33.74900  -84.38798    463878.0
11    HI           Honolulu  21.30694 -157.85833    371657.0
12    IA         Des Moines  41.60054  -93.60911    210330.0
13    ID              Boise  43.61350 -116.20345    145987.0
14    IL            Chicago  41.85003  -87.65005   2720546.0
15    IN       Indianapolis  39.76838  -86.15804    829718.0
16    KS            Wichita  37.69224  -97.33754    389965.0
17    KY  Lexington-Fayette  38.04980  -84.45855    314488.0
18    LA        New Orleans  29.95465  -90.07507    389617.0
19    MA             Boston  42.35843  -71.05977    667137.0
20    MD          Baltimore  39.29038  -76.61219    621849.0
21    ME           Portland  43.65737  -70.25890     66881.0
22    MI            Detroit  42.33143  -83.04575    677116.0
23    MN        Minneapolis  44.97997  -93.26384    410939.0
24    MO        Kansas City  39.09973  -94.57857    475378.0
25    MS            Jackson  32.29876  -90.18481    170674.0
26    MT           Billings  45.78329 -108.50069    110263.0
27    NC          Charlotte  35.22709  -80.84313    827097.0
28    ND              Fargo  46.87719  -96.78980    118523.0
29    NE              Omaha  41.25626  -95.94043    443885.0
30    NH         Manchester  42.99564  -71.45479    110229.0
31    NJ             Newark  40.73566  -74.17237    281944.0
32    NM        Albuquerque  35.08449 -106.65114    559121.0
33    NV          Las Vegas  36.17497 -115.13722    623747.0
34    NY      New York City  40.71427  -74.00597   8175133.0
35    OH           Columbus  39.96118  -82.99879    850106.0
36    OK      Oklahoma City  35.46756  -97.51643    631346.0
37    OR           Portland  45.52345 -122.67621    632309.0
38    PA       Philadelphia  39.95233  -75.16379   1567442.0
39    RI         Providence  41.82399  -71.41283    179207.0
40    SC           Columbia  34.00071  -81.03481    133803.0
41    SD        Sioux Falls  43.54997  -96.70033    171544.0
42    TN            Memphis  35.14953  -90.04898    655770.0
43    TX            Houston  29.76328  -95.36327   2296224.0
44    UT     Salt Lake City  40.76078 -111.89105    192672.0
45    VA     Virginia Beach  36.85293  -75.97799    452745.0
46    VT         Burlington  44.47588  -73.21207     42452.0
47    WA            Seattle  47.60621 -122.33207    684451.0
48    WI          Milwaukee  43.03890  -87.90647    600155.0
49    WV         Charleston  38.34982  -81.63262     49736.0
50    WY           Cheyenne  41.13998 -104.82025     63335.0

In [15]:
#add data from teleport manually since its not accessable through the api
leisure_culture_score = [3,5,0,7,9,6,0,10,0,6,8,8,6,4,8,7,0,0,7,9,0,3,7,7,7,0,0,6,0,5,0,0,5,6,10,6,5,6,8,4,0,0,7,7,6,0,0,8,7,0,0]
cities_info_clean["Leisure/Culture Score"] = leisure_culture_score
arts_venues = [159,429,0,839,1244,1024,0,926,0,661,1430,495,407,292,1409,878,0,0,541,1279,0,224,1146,968,860,0,0,590,0,685,0,0,398,834,1573,498,630,528,1613,265,0,0,413,955,498,0,0,1059,774,0,0]
#arts venues = art galleries + cinemas + comedy clubs + concert venues + performing arts venues
cities_info_clean["Arts Venues"] = arts_venues
educational_entertainment_venues = [32,95,0,219,621,240,0,579,0,159,456,182,100,63,516,251,0,0,165,498,0,53,417,295,254,0,0,112,0,143,0,0,67,185,636,232,169,177,548,83,0,0,166,392,116,0,0,356,271,0,0]
#ed entertainment = historical sites + museums + zoos
cities_info_clean['Educational Entertainment Venues'] = educational_entertainment_venues
sport_venues = [9,45,0,58,222,133,0,221,0,85,202,25,43,30,214,133,0,0,73,179,0,6,190,165,131,0,0,32,0,64,0,0,10,41,175,82,109,77,212,17,0,0,52,173,15,0,0,132,116,0,0]
cities_info_clean["Sports Venues"] = sport_venues
cities_info_clean['Total Venues'] = cities_info_clean[["Arts Venues",'Educational Entertainment Venues',"Sports Venues"]].sum(axis=1)
lgbt_index = [76.56,67.19,0,70.00,93.19,93.13,0,100.00,0,67.19,70,96.55,93.13,72.81,96.90,72.81,0,0,72.81,96.88,96.88,93.62,63.24,96.88,72.14,0,0,67.58,0,72.81,0,0,93.13,93.13,86.72,66.79,67.67,96.88,80.47,93.13,0,0,70.00,64.44,92.97,0,0,91.25,82.97,0,0]
cities_info_clean['LGBT Equality Index'] = lgbt_index
minorities_tolerance = [.64,.3,0,.4,.44,.62,0,.31,.0,.46,.1,.56,.74,.65,.23,.64,.0,0,.29,.7,.15,.69,.1,.46,.27,.0,.0,.68,0,.42,0,0,.45,.5,.46,.51,.52,.64,.35,.54,0,0,.1,.42,.77,.0,0,.68,.12,0,0]
cities_info_clean["Tolerance of Minorities Score"] = minorities_tolerance
tolerance_score = [7,5,0,6,7,8,0,7,0,6,4,8,8,7,6,7,0,0,5,8,6,8,4,7,5,0,0,7,0,6,0,0,7,7,7,6,6,8,6,7,0,0,4,5,9,0,0,8,5,0,0]
cities_info_clean["Tolerance Score"] = tolerance_score

#drop cities with 0 data


cities_info_clean

,State,City,Latitude,Longitude,Population,Leisure/Culture Score,Arts Venues,Educational Entertainment Venues,Sports Venues,Total Venues,LGBT Equality Index,Tolerance of Minorities Score,Tolerance Score
0,AK,Anchorage,61.21806,-149.90028,298695.0,3,159,32,9,200,76.56,0.64,7
1,AL,Birmingham,33.52066,-86.80249,212461.0,5,429,95,45,569,67.19,0.30,5
2,AR,Little Rock,34.74648,-92.28959,197992.0,0,0,0,0,0,0.00,0.00,0
3,AZ,Phoenix,33.44838,-112.07404,1563025.0,7,839,219,58,1116,70.00,0.40,6
4,CA,Los Angeles,34.05223,-118.24368,3971883.0,9,1244,621,222,2087,93.19,0.44,7
5,CO,Denver,39.73915,-104.98470,682545.0,6,1024,240,133,1397,93.13,0.62,8
6,CT,Bridgeport,41.17923,-73.18945,147629.0,0,0,0,0,0,0.00,0.00,0
7,DC,Washington,38.89511,-77.03637,601723.0,10,926,579,221,1726,100.00,0.31,7
8,DE,Wilmington,39.74595,-75.54659,71948.0,0,0,0,0,0,0.00,0.00,0
9,FL,Jacksonville,30.33218,-81.65565,868031.0,6,661,159,85,905,67.19,0.46,6
10,GA,Atlanta,33.74900,-84.38798,463878.0,8,1430,456,202,2088,70.00,0.10,4
11,HI,Honolulu,21.30694,-157.85833,371657.0,8,495,182,25,702,96.55,0.56,8
12,IA,Des Moines,41.60054,-93.60911,210330.0,6,407,100,43,550,93.13,0.74,8
13,ID,Boise,43.61350,-116.20345,145987.0,4,292,63,30,385,72.81,0.65,7
14,IL,Chicago,41.85003,-87.65005,2720546.0,8,1409,516,214,2139,96.90,0.23,6
15,IN,Indianapolis,39.76838,-86.15804,829718.0,7,878,251,133,1262,72.81,0.64,7
16,KS,Wichita,37.69224,-97.33754,389965.0,0,0,0,0,0,0.00,0.00,0
17,KY,Lexington-Fayette,38.04980,-84.45855,314488.0,0,0,0,0,0,0.00,0.00,0
18,LA,New Orleans,29.95465,-90.07507,389617.0,7,541,165,73,779,72.81,0.29,5
19,MA,Boston,42.35843,-71.05977,667137.0,9,1279,498,179,1956,96.88,0.70,8
20,MD,Baltimore,39.29038,-76.61219,621849.0,0,0,0,0,0,96.88,0.15,6
21,ME,Portland,43.65737,-70.25890,66881.0,3,224,53,6,283,93.62,0.69,8
22,MI,Detroit,42.33143,-83.04575,677116.0,7,1146,417,190,1753,63.24,0.10,4
23,MN,Minneapolis,44.97997,-93.26384,410939.0,7,968,295,165,1428,96.88,0.46,7
24,MO,Kansas City,39.09973,-94.57857,475378.0,7,860,254,131,1245,72.14,0.27,5
25,MS,Jackson,32.29876,-90.18481,170674.0,0,0,0,0,0,0.00,0.00,0
26,MT,Billings,45.78329,-108.50069,110263.0,0,0,0,0,0,0.00,0.00,0
27,NC,Charlotte,35.22709,-80.84313,827097.0,6,590,112,32,734,67.58,0.68,7
28,ND,Fargo,46.87719,-96.78980,118523.0,0,0,0,0,0,0.00,0.00,0
29,NE,Omaha,41.25626,-95.94043,443885.0,5,685,143,64,892,72.81,0.42,6
30,NH,Manchester,42.99564,-71.45479,110229.0,0,0,0,0,0,0.00,0.00,0
31,NJ,Newark,40.73566,-74.17237,281944.0,0,0,0,0,0,0.00,0.00,0
32,NM,Albuquerque,35.08449,-106.65114,559121.0,5,398,67,10,475,93.13,0.45,7
33,NV,Las Vegas,36.17497,-115.13722,623747.0,6,834,185,41,1060,93.13,0.50,7
34,NY,New York City,40.71427,-74.00597,8175133.0,10,1573,636,175,2384,86.72,0.46,7
35,OH,Columbus,39.96118,-82.99879,850106.0,6,498,232,82,812,66.79,0.51,6
36,OK,Oklahoma City,35.46756,-97.51643,631346.0,5,630,169,109,908,67.67,0.52,6
37,OR,Portland,45.52345,-122.67621,632309.0,6,528,177,77,782,96.88,0.64,8
38,PA,Philadelphia,39.95233,-75.16379,1567442.0,8,1613,548,212,2373,80.47,0.35,6
39,RI,Providence,41.82399,-71.41283,179207.0,4,265,83,17,365,93.13,0.54,7
40,SC,Columbia,34.00071,-81.03481,133803.0,0,0,0,0,0,0.00,0.00,0
41,SD,Sioux Falls,43.54997,-96.70033,171544.0,0,0,0,0,0,0.00,0.00,0
42,TN,Memphis,35.14953,-90.04898,655770.0,7,413,166,52,631,70.00,0.10,4
43,TX,Houston,29.76328,-95.36327,2296224.0,7,955,392,173,1520,64.44,0.42,5
44,UT,Salt Lake City,40.76078,-111.89105,192672.0,6,498,116,15,629,92.97,0.77,9
45,VA,Virginia Beach,36.85293,-75.97799,452745.0,0,0,0,0,0,0.00,0.00,0
46,VT,Burlington,44.47588,-73.21207,42452.0,0,0,0,0,0,0.00,0.00,0
47,WA,Seattle,47.60621,-122.33207,684451.0,8,1059,356,132,1547,91.25,0.68,8
48,WI,Milwaukee,43.03890,-87.90647,600155.0,7,774,271,116,1161,82.97,0.12,5
49,WV,Charleston,38.34982,-81.63262,49736.0,0,0,0,0,0,0.00,0.00,0
50,WY,Cheyenne,41.13998,-104.82025,63335.0,0,0,0,0,0,0.00,0.00,0