In [2]:
import pandas as pd
import json
import numpy
import csv
import requests

In [3]:
# Import csv

file_to_load = "large_cities.csv"
city_data = pd.read_csv(file_to_load)
city_data

    Unnamed: 0               city state  population        lng        lat
0        16831          Anchorage    AK    298695.0   298695.0   298695.0
1        16832         Birmingham    AL    212461.0   212461.0   212461.0
2        16833        Little Rock    AR    197992.0   197992.0   197992.0
3        16834            Phoenix    AZ   1563025.0  1563025.0  1563025.0
4        16835        Los Angeles    CA   3971883.0  3971883.0  3971883.0
5        16836             Denver    CO    682545.0   682545.0   682545.0
6        16837         Bridgeport    CT    147629.0   147629.0   147629.0
7        16838         Washington    DC    601723.0   601723.0   601723.0
8        16839         Wilmington    DE     71948.0    71948.0    71948.0
9        16840       Jacksonville    FL    868031.0   868031.0   868031.0
10       16841            Atlanta    GA    463878.0   463878.0   463878.0
11       16842           Honolulu    HI    371657.0   371657.0   371657.0
12       16843         Des Moines    IA    210330.0   210330.0   210330.0
13       16844              Boise    ID    145987.0   145987.0   145987.0
14       16845            Chicago    IL   2720546.0  2720546.0  2720546.0
15       16846       Indianapolis    IN    829718.0   829718.0   829718.0
16       16847            Wichita    KS    389965.0   389965.0   389965.0
17       16848  Lexington-Fayette    KY    314488.0   314488.0   314488.0
18       16849        New Orleans    LA    389617.0   389617.0   389617.0
19       16850             Boston    MA    667137.0   667137.0   667137.0
20       16851          Baltimore    MD    621849.0   621849.0   621849.0
21       16852           Portland    ME     66881.0    66881.0    66881.0
22       16853            Detroit    MI    677116.0   677116.0   677116.0
23       16854        Minneapolis    MN    410939.0   410939.0   410939.0
24       16855        Kansas City    MO    475378.0   475378.0   475378.0
25       16856            Jackson    MS    170674.0   170674.0   170674.0
26       16857           Billings    MT    110263.0   110263.0   110263.0
27       16858          Charlotte    NC    827097.0   827097.0   827097.0
28       16859              Fargo    ND    118523.0   118523.0   118523.0
29       16860              Omaha    NE    443885.0   443885.0   443885.0
30       16861         Manchester    NH    110229.0   110229.0   110229.0
31       16862             Newark    NJ    281944.0   281944.0   281944.0
32       16863        Albuquerque    NM    559121.0   559121.0   559121.0
33       16864          Las Vegas    NV    623747.0   623747.0   623747.0
34       16865      New York City    NY   8175133.0  8175133.0  8175133.0
35       16866           Columbus    OH    850106.0   850106.0   850106.0
36       16867      Oklahoma City    OK    631346.0   631346.0   631346.0
37       16868           Portland    OR    632309.0   632309.0   632309.0
38       16869       Philadelphia    PA   1567442.0  1567442.0  1567442.0
39       16870         Providence    RI    179207.0   179207.0   179207.0
40       16871           Columbia    SC    133803.0   133803.0   133803.0
41       16872        Sioux Falls    SD    171544.0   171544.0   171544.0
42       16873            Memphis    TN    655770.0   655770.0   655770.0
43       16874            Houston    TX   2296224.0  2296224.0  2296224.0
44       16875     Salt Lake City    UT    192672.0   192672.0   192672.0
45       16876     Virginia Beach    VA    452745.0   452745.0   452745.0
46       16877         Burlington    VT     42452.0    42452.0    42452.0
47       16878            Seattle    WA    684451.0   684451.0   684451.0
48       16879          Milwaukee    WI    600155.0   600155.0   600155.0
49       16880         Charleston    WV     49736.0    49736.0    49736.0
50       16881           Cheyenne    WY     63335.0    63335.0    63335.0

In [4]:
city_data2 = city_data['city'].str.replace(' ', '%20')
city_data2 = city_data2.str.lower()
# city_data2

In [5]:
# city_url = "https://api.teleport.org/api/cities/?search="
# city_url
# city2_url =

In [6]:
# city2 = city_data2
# # Build query URL
# query_url = city_url + city2
# query_url[0]

In [7]:
# response = requests.get(query_url[0])
# qof_json = response.json()
# qof_json

In [8]:
city_data3 = city_data['city'].str.replace(' ', '-')
city_data3 = city_data3.str.lower()
city3 = city_data3

In [35]:
query2_url ='https://api.teleport.org/api/urban_areas/slug:' + city3 + '/scores/'
query2_url[0]
response2 = requests.get(query2_url[0])
qof2_json = response2.json()
qof2_json

{'_links': {'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/urban_areas/slug:anchorage/scores/'}},
 'categories': [{'color': '#f3c32c',
   'name': 'Housing',
   'score_out_of_10': 5.433500000000001},
  {'color': '#f3d630', 'name': 'Cost of Living', 'score_out_of_10': 3.141},
  {'color': '#f4eb33', 'name': 'Startups', 'score_out_of_10': 2.7945},
  {'color': '#d2ed31', 'name': 'Venture Capital', 'score_out_of_10': 0.0},
  {'color': '#7adc29',
   'name': 'Travel Connectivity',
   'score_out_of_10': 1.7379999999999998},
  {'color': '#36cc24',
   'name': 'Commute',
   'score_out_of_10': 4.715249999999999},
  {'color': '#19ad51', 'name': 'Business Freedom', 'score_out_of_10': 8.671},
  {'color': '#0d6999',
   'name': 'Safety',
   'score_out_of_10': 3.4704999999999995},
  {'color': '#051fa5',
   'name': 'Healthcare',
   'score_out_of_10': 8.632666666666665},
  {'color': '#150e78', 'name': 'Education', 'score_out_of_10': 3.6245},
  {'color': '#3d14a4',
   'name': 'Environmental Quality',
   'score_out_of_10': 9.272000000000002},
  {'color': '#5c14a1', 'name': 'Economy', 'score_out_of_10': 6.5145},
  {'color': '#88149f', 'name': 'Taxation', 'score_out_of_10': 4.772},
  {'color': '#b9117d', 'name': 'Internet Access', 'score_out_of_10': 4.9645},
  {'color': '#d10d54',
   'name': 'Leisure & Culture',
   'score_out_of_10': 3.2660000000000005},
  {'color': '#e70c26', 'name': 'Tolerance', 'score_out_of_10': 7.093},
  {'color': '#f1351b',
   'name': 'Outdoors',
   'score_out_of_10': 5.3580000000000005}],
 'summary': '<p>Anchorage, Alaska, is characterized by a <b>clean environment</b>.\n\n    \n        According to our city rankings, this is a good place to live with high ratings in <b>business freedom</b>, <b>healthcare</b> and <b>tolerance</b>.\n    \n\n    \n</p>\n\n',
 'teleport_city_score': 52.02472972972975}

In [48]:
x = (city_data['city'][0], 
    qof2_json['categories'][0]['name'], 
     qof2_json['categories'][0]['score_out_of_10'],
     qof2_json['categories'][1]['name'],
     qof2_json['categories'][1]['score_out_of_10'],
     qof2_json['categories'][4]['name'],
     qof2_json['categories'][4]['score_out_of_10'],
     qof2_json['categories'][5]['name'],
     qof2_json['categories'][5]['score_out_of_10'],
     qof2_json['categories'][9]['name'],
     qof2_json['categories'][9]['score_out_of_10'],
     qof2_json['summary'])

x

('Anchorage',
 'Housing',
 5.433500000000001,
 'Cost of Living',
 3.141,
 'Travel Connectivity',
 1.7379999999999998,
 'Commute',
 4.715249999999999,
 'Education',
 3.6245,
 '<p>Anchorage, Alaska, is characterized by a <b>clean environment</b>.\n\n    \n        According to our city rankings, this is a good place to live with high ratings in <b>business freedom</b>, <b>healthcare</b> and <b>tolerance</b>.\n    \n\n    \n</p>\n\n')