In [17]:
import pandas as pd
import json
import numpy
from pprint import pprint
import requests

In [3]:
# load data using Python JSON module
my_file = '../Share/city_data.json'
with open(my_file ,'r') as f:
    data = json.loads(f.read())
# Flatten data
cities_df = pd.json_normalize(data)

In [4]:
cities_df.columns

Index(['datasetid', 'recordid', 'record_timestamp', 'fields.elevation',
       'fields.name', 'fields.modification_date', 'fields.country',
       'fields.feature_class', 'fields.admin3_code', 'fields.alternate_names',
       'fields.feature_code', 'fields.longitude', 'fields.geoname_id',
       'fields.timezone', 'fields.dem', 'fields.country_code',
       'fields.ascii_name', 'fields.latitude', 'fields.admin1_code',
       'fields.coordinates', 'fields.admin2_code', 'fields.population',
       'geometry.type', 'geometry.coordinates'],
      dtype='object')

In [5]:
#select columns
cities_df = cities_df[['fields.name', 'fields.admin1_code', 'fields.country_code', 'fields.population', 'fields.latitude', 'fields.longitude']]

In [6]:
#rename columns
cities_df = cities_df.rename(columns={'fields.name': 'City', 'fields.admin1_code': 'State', 'fields.country_code': 'Country',
       'fields.population': 'Population', 'fields.latitude': 'Latitude', 'fields.longitude': 'Longitude'})

In [7]:
#create group object containing state groups of cities
city_grp = cities_df.groupby(['State'])

In [8]:
#iterate group object and return max population for each group (state) in group object
lgst_cities = city_grp.apply(lambda g: g[g['Population'] == g['Population'].max()])

In [9]:
#reset the indexes
lgst_cities = lgst_cities.reset_index(drop=True)
lgst_cities

                 City State Country  Population  Latitude   Longitude
0           Anchorage    AK      US      298695  61.21806  -149.90028
1          Birmingham    AL      US      212461  33.52066   -86.80249
2         Little Rock    AR      US      197992  34.74648   -92.28959
3             Phoenix    AZ      US     1563025  33.44838  -112.07404
4         Los Angeles    CA      US     3971883  34.05223  -118.24368
5              Denver    CO      US      682545  39.73915   -104.9847
6          Bridgeport    CT      US      147629  41.17923   -73.18945
7          Washington    DC      US      601723  38.89511   -77.03637
8          Wilmington    DE      US       71948  39.74595   -75.54659
9        Jacksonville    FL      US      868031  30.33218   -81.65565
10            Atlanta    GA      US      463878    33.749   -84.38798
11           Honolulu    HI      US      371657  21.30694  -157.85833
12         Des Moines    IA      US      210330  41.60054   -93.60911
13              Boise    ID      US      145987   43.6135  -116.20345
14            Chicago    IL      US     2720546  41.85003   -87.65005
15       Indianapolis    IN      US      829718  39.76838   -86.15804
16            Wichita    KS      US      389965  37.69224   -97.33754
17  Lexington-Fayette    KY      US      314488   38.0498   -84.45855
18        New Orleans    LA      US      389617  29.95465   -90.07507
19             Boston    MA      US      667137  42.35843   -71.05977
20          Baltimore    MD      US      621849  39.29038   -76.61219
21           Portland    ME      US       66881  43.65737    -70.2589
22            Detroit    MI      US      677116  42.33143   -83.04575
23        Minneapolis    MN      US      410939  44.97997   -93.26384
24        Kansas City    MO      US      475378  39.09973   -94.57857
25            Jackson    MS      US      170674  32.29876   -90.18481
26           Billings    MT      US      110263  45.78329  -108.50069
27          Charlotte    NC      US      827097  35.22709   -80.84313
28              Fargo    ND      US      118523  46.87719    -96.7898
29              Omaha    NE      US      443885  41.25626   -95.94043
30         Manchester    NH      US      110229  42.99564   -71.45479
31             Newark    NJ      US      281944  40.73566   -74.17237
32        Albuquerque    NM      US      559121  35.08449  -106.65114
33          Las Vegas    NV      US      623747  36.17497  -115.13722
34      New York City    NY      US     8175133  40.71427   -74.00597
35           Columbus    OH      US      850106  39.96118   -82.99879
36      Oklahoma City    OK      US      631346  35.46756   -97.51643
37           Portland    OR      US      632309  45.52345  -122.67621
38       Philadelphia    PA      US     1567442  39.95233   -75.16379
39         Providence    RI      US      179207  41.82399   -71.41283
40           Columbia    SC      US      133803  34.00071   -81.03481
41        Sioux Falls    SD      US      171544  43.54997   -96.70033
42            Memphis    TN      US      655770  35.14953   -90.04898
43            Houston    TX      US     2296224  29.76328   -95.36327
44     Salt Lake City    UT      US      192672  40.76078  -111.89105
45     Virginia Beach    VA      US      452745  36.85293   -75.97799
46         Burlington    VT      US       42452  44.47588   -73.21207
47            Seattle    WA      US      684451  47.60621  -122.33207
48          Milwaukee    WI      US      600155   43.0389   -87.90647
49         Charleston    WV      US       49736  38.34982   -81.63262
50           Cheyenne    WY      US       63335  41.13998  -104.82025

In [61]:
#add colums for retrieved data
new_cols = ['Housing', 'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture']
for col in new_cols:
    lgst_cities[col] = ""
lgst_cities

,City,State,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,...,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture
0,Anchorage,AK,US,298695,61.21806,-149.90028,,,,,...,,,,,,,,,,
1,Birmingham,AL,US,212461,33.52066,-86.80249,,,,,...,,,,,,,,,,
2,Little Rock,AR,US,197992,34.74648,-92.28959,,,,,...,,,,,,,,,,
3,Phoenix,AZ,US,1563025,33.44838,-112.07404,,,,,...,,,,,,,,,,
4,Los Angeles,CA,US,3971883,34.05223,-118.24368,,,,,...,,,,,,,,,,
5,Denver,CO,US,682545,39.73915,-104.9847,,,,,...,,,,,,,,,,
6,Bridgeport,CT,US,147629,41.17923,-73.18945,,,,,...,,,,,,,,,,
7,Washington,DC,US,601723,38.89511,-77.03637,,,,,...,,,,,,,,,,
8,Wilmington,DE,US,71948,39.74595,-75.54659,,,,,...,,,,,,,,,,
9,Jacksonville,FL,US,868031,30.33218,-81.65565,,,,,...,,,,,,,,,,
10,Atlanta,GA,US,463878,33.749,-84.38798,,,,,...,,,,,,,,,,
11,Honolulu,HI,US,371657,21.30694,-157.85833,,,,,...,,,,,,,,,,
12,Des Moines,IA,US,210330,41.60054,-93.60911,,,,,...,,,,,,,,,,
13,Boise,ID,US,145987,43.6135,-116.20345,,,,,...,,,,,,,,,,
14,Chicago,IL,US,2720546,41.85003,-87.65005,,,,,...,,,,,,,,,,
15,Indianapolis,IN,US,829718,39.76838,-86.15804,,,,,...,,,,,,,,,,
16,Wichita,KS,US,389965,37.69224,-97.33754,,,,,...,,,,,,,,,,
17,Lexington-Fayette,KY,US,314488,38.0498,-84.45855,,,,,...,,,,,,,,,,
18,New Orleans,LA,US,389617,29.95465,-90.07507,,,,,...,,,,,,,,,,
19,Boston,MA,US,667137,42.35843,-71.05977,,,,,...,,,,,,,,,,
20,Baltimore,MD,US,621849,39.29038,-76.61219,,,,,...,,,,,,,,,,
21,Portland,ME,US,66881,43.65737,-70.2589,,,,,...,,,,,,,,,,
22,Detroit,MI,US,677116,42.33143,-83.04575,,,,,...,,,,,,,,,,
23,Minneapolis,MN,US,410939,44.97997,-93.26384,,,,,...,,,,,,,,,,
24,Kansas City,MO,US,475378,39.09973,-94.57857,,,,,...,,,,,,,,,,
25,Jackson,MS,US,170674,32.29876,-90.18481,,,,,...,,,,,,,,,,
26,Billings,MT,US,110263,45.78329,-108.50069,,,,,...,,,,,,,,,,
27,Charlotte,NC,US,827097,35.22709,-80.84313,,,,,...,,,,,,,,,,
28,Fargo,ND,US,118523,46.87719,-96.7898,,,,,...,,,,,,,,,,
29,Omaha,NE,US,443885,41.25626,-95.94043,,,,,...,,,,,,,,,,
30,Manchester,NH,US,110229,42.99564,-71.45479,,,,,...,,,,,,,,,,
31,Newark,NJ,US,281944,40.73566,-74.17237,,,,,...,,,,,,,,,,
32,Albuquerque,NM,US,559121,35.08449,-106.65114,,,,,...,,,,,,,,,,
33,Las Vegas,NV,US,623747,36.17497,-115.13722,,,,,...,,,,,,,,,,
34,New York City,NY,US,8175133,40.71427,-74.00597,,,,,...,,,,,,,,,,
35,Columbus,OH,US,850106,39.96118,-82.99879,,,,,...,,,,,,,,,,
36,Oklahoma City,OK,US,631346,35.46756,-97.51643,,,,,...,,,,,,,,,,
37,Portland,OR,US,632309,45.52345,-122.67621,,,,,...,,,,,,,,,,
38,Philadelphia,PA,US,1567442,39.95233,-75.16379,,,,,...,,,,,,,,,,
39,Providence,RI,US,179207,41.82399,-71.41283,,,,,...,,,,,,,,,,
40,Columbia,SC,US,133803,34.00071,-81.03481,,,,,...,,,,,,,,,,
41,Sioux Falls,SD,US,171544,43.54997,-96.70033,,,,,...,,,,,,,,,,
42,Memphis,TN,US,655770,35.14953,-90.04898,,,,,...,,,,,,,,,,
43,Houston,TX,US,2296224,29.76328,-95.36327,,,,,...,,,,,,,,,,
44,Salt Lake City,UT,US,192672,40.76078,-111.89105,,,,,...,,,,,,,,,,
45,Virginia Beach,VA,US,452745,36.85293,-75.97799,,,,,...,,,,,,,,,,
46,Burlington,VT,US,42452,44.47588,-73.21207,,,,,...,,,,,,,,,,
47,Seattle,WA,US,684451,47.60621,-122.33207,,,,,...,,,,,,,,,,
48,Milwaukee,WI,US,600155,43.0389,-87.90647,,,,,...,,,,,,,,,,
49,Charleston,WV,US,49736,38.34982,-81.63262,,,,,...,,,,,,,,,,
50,Cheyenne,WY,US,63335,41.13998,-104.82025,,,,,...,,,,,,,,,,

In [99]:
#MAKE REQUEST AND STORE DATA BACK IN DATAFRAME

#The URL is kind of crazy becausae you have to find the city in an urban area and then push the urban area into the query - it's nested.  They provide some instructions, but their example is wrong, so don't follow that.  The instructions are:  "Alternatively, we can find the Urban Area that a city belongs to. E.g. let's find out how the urban area corresponding to Palo Alto, California performs in terms of Teleport scores. Let's use the API Explorer for the city search endpoint to construct the URL. In the search field enter Palo Alto, California, in the embed field, type city:search-results/city:item/city:urban_area/ua:scores, and click the Try it out! button."

#Base URL 
url_open = 'https://api.teleport.org/api/cities/?search='
url_close = "&limit=1&embed=city%3Asearch-results%2Fcity%3Aitem%2Fcity%3Aurban_area%2Fua%3Ascores"

#create a list to loop to gather json data from response
my_categories = pd.DataFrame(new_cols)

print("""
Beginning processing city data:
------------------------------------------""")

#loop dataframe randomly created above and return data / use the index so the return data can be pushed into the existing lgst_cities dataframe
for ind in lgst_cities.index:

    #get city data and transform 
    my_city = lgst_cities['City'][ind].replace(' ', '%20')
    my_state = lgst_cities['State'][ind]

    urban_area = my_city + '%2C%20' + my_state

    # Build query URL
    query_url = f"{url_open}{urban_area}{url_close}"

    #make request and hold response
    response = requests.get(query_url).json()
    
    try:
        print(f"Processing Record {ind + 1} of {len(lgst_cities)}: {my_city}, {my_state}.")
        
        #gather data for each category
        for x in my_categories.index:
                    
            my_category = my_categories.iloc[x, 0]
                    
            #parse json for data
            my_data = response['_embedded']['city:search-results'][0]['_embedded']['city:item']['_embedded']['city:urban_area']['_embedded']['ua:scores']['categories'][x]['score_out_of_10']
                    
            #write the data to the dataframe
            lgst_cities.loc[lgst_cities.index[ind], my_category] = my_data

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Beginning processing city data:
------------------------------------------
Processing Record 1 of 51: Anchorage, AK.
Processing Record 2 of 51: Birmingham, AL.
Processing Record 3 of 51: Little%20Rock, AR.
Missing field/result... skipping.
Processing Record 4 of 51: Phoenix, AZ.
Processing Record 5 of 51: Los%20Angeles, CA.
Processing Record 6 of 51: Denver, CO.
Processing Record 7 of 51: Bridgeport, CT.
Missing field/result... skipping.
Processing Record 8 of 51: Washington, DC.
Processing Record 9 of 51: Wilmington, DE.
Missing field/result... skipping.
Processing Record 10 of 51: Jacksonville, FL.
Processing Record 11 of 51: Atlanta, GA.
Processing Record 12 of 51: Honolulu, HI.
Processing Record 13 of 51: Des%20Moines, IA.
Processing Record 14 of 51: Boise, ID.
Processing Record 15 of 51: Chicago, IL.
Processing Record 16 of 51: Indianapolis, IN.
Processing Record 17 of 51: Wichita, KS.
Missing field/result... skipping.
Processing Record 18 of 51: Lexington-Fayette, KY.
Missing field/result... skipping.
Processing Record 19 of 51: New%20Orleans, LA.
Processing Record 20 of 51: Boston, MA.
Processing Record 21 of 51: Baltimore, MD.
Processing Record 22 of 51: Portland, ME.
Processing Record 23 of 51: Detroit, MI.
Processing Record 24 of 51: Minneapolis, MN.
Processing Record 25 of 51: Kansas%20City, MO.
Processing Record 26 of 51: Jackson, MS.
Missing field/result... skipping.
Processing Record 27 of 51: Billings, MT.
Missing field/result... skipping.
Processing Record 28 of 51: Charlotte, NC.
Processing Record 29 of 51: Fargo, ND.
Missing field/result... skipping.
Processing Record 30 of 51: Omaha, NE.
Processing Record 31 of 51: Manchester, NH.
Missing field/result... skipping.
Processing Record 32 of 51: Newark, NJ.
Processing Record 33 of 51: Albuquerque, NM.
Processing Record 34 of 51: Las%20Vegas, NV.
Processing Record 35 of 51: New%20York%20City, NY.
Processing Record 36 of 51: Columbus, OH.
Processing Record 37 of 51: Oklahoma%20City, OK.
Processing Record 38 of 51: Portland, OR.
Processing Record 39 of 51: Philadelphia, PA.
Processing Record 40 of 51: Providence, RI.
Processing Record 41 of 51: Columbia, SC.
Missing field/result... skipping.
Processing Record 42 of 51: Sioux%20Falls, SD.
Missing field/result... skipping.
Processing Record 43 of 51: Memphis, TN.
Processing Record 44 of 51: Houston, TX.
Processing Record 45 of 51: Salt%20Lake%20City, UT.
Processing Record 46 of 51: Virginia%20Beach, VA.
Missing field/result... skipping.
Processing Record 47 of 51: Burlington, VT.
Missing field/result... skipping.
Processing Record 48 of 51: Seattle, WA.
Processing Record 49 of 51: Milwaukee, WI.
Processing Record 50 of 51: Charleston, WV.
Missing field/result... skipping.
Processing Record 51 of 51: Cheyenne, WY.
Missing field/result... skipping.

In [100]:
lgst_cities

,City,State,Country,Population,Latitude,Longitude,Housing,Cost of Living,Startups,Venture Capital,...,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture
0,Anchorage,AK,US,298695,61.21806,-149.90028,5.4335,3.141,2.7945,0,...,4.71525,8.671,3.4705,8.63267,3.6245,9.272,6.5145,4.772,4.9645,3.266
1,Birmingham,AL,US,212461,33.52066,-86.80249,6.5555,5.133,4.3575,1,...,2.02075,8.671,1.776,8.74333,3.6245,7.0375,6.5145,4.204,5.1605,5.3835
2,Little Rock,AR,US,197992,34.74648,-92.28959,,,,,...,,,,,,,,,,
3,Phoenix,AZ,US,1563025,33.44838,-112.07404,6.533,6.208,6.5085,4.558,...,4.8285,8.671,2.583,8.56733,4.591,4.62525,6.5145,4.488,6.178,6.81
4,Los Angeles,CA,US,3971883,34.05223,-118.24368,1.5275,4.556,10,10,...,3.677,8.57467,5.705,8.43967,8.6245,4.7315,6.5145,4.7675,5.4965,9.196
5,Denver,CO,US,682545,39.73915,-104.9847,3.8375,5.102,7.8645,6.117,...,4.53,8.671,5.371,8.61567,3.6245,7.11675,6.5145,4.346,5.4185,6.2235
6,Bridgeport,CT,US,147629,41.17923,-73.18945,,,,,...,,,,,,,,,,
7,Washington,DC,US,601723,38.89511,-77.03637,1.2105,3.595,8.774,8.056,...,4.457,8.671,2.1915,8.49067,5.9685,6.99375,6.5145,4.062,3.8255,10
8,Wilmington,DE,US,71948,39.74595,-75.54659,,,,,...,,,,,,,,,,
9,Jacksonville,FL,US,868031,30.33218,-81.65565,6.45,5.359,4.3475,2.545,...,1.40575,8.671,3.8255,8.498,3.6245,7.12025,6.5145,4.772,6.1575,5.6545
10,Atlanta,GA,US,463878,33.749,-84.38798,4.9755,5.241,8.835,7.257,...,3.89775,8.671,2.6725,8.534,6.457,5.81775,6.5145,4.204,6.4805,7.7655
11,Honolulu,HI,US,371657,21.30694,-157.85833,2.3415,2.867,4.1335,0,...,4.16175,8.671,6.8565,8.474,4.2805,6.094,6.5145,4.204,6.158,7.623
12,Des Moines,IA,US,210330,41.60054,-93.60911,6.851,6.327,2.912,1.818,...,2.07225,8.671,6.984,8.84133,3.6245,8.68225,6.5145,4.346,5.698,6.0665
13,Boise,ID,US,145987,43.6135,-116.20345,6.9635,6.578,4.205,2.596,...,5.225,8.671,4.3605,8.881,3.6245,8.0695,6.5145,4.062,3.442,4.1995
14,Chicago,IL,US,2720546,41.85003,-87.65005,3.702,4.766,9.513,8.368,...,4.57975,8.671,3.832,8.555,7.999,6.8045,6.5145,4.062,6.5995,8.193
15,Indianapolis,IN,US,829718,39.76838,-86.15804,6.266,5.478,5.503,3.96,...,4.85875,8.671,3.968,8.59767,3.6245,6.1605,6.5145,4.062,5.8755,7.299
16,Wichita,KS,US,389965,37.69224,-97.33754,,,,,...,,,,,,,,,,
17,Lexington-Fayette,KY,US,314488,38.0498,-84.45855,,,,,...,,,,,,,,,,
18,New Orleans,LA,US,389617,29.95465,-90.07507,5.339,4.992,4.7365,1.21,...,4.6275,8.671,2.088,8.31167,4.152,5.674,6.5145,4.346,6.453,7.1985
19,Boston,MA,US,667137,42.35843,-71.05977,1,4.259,9.565,10,...,4.39625,8.671,7.742,8.956,8.6245,8.1705,6.5145,4.062,5.7005,8.564
20,Baltimore,MD,US,621849,39.29038,-76.61219,4.83,4.982,0,4.358,...,4.93475,5.502,2.373,8.94467,5.8805,5.7845,6.5145,4.062,4.988,0
21,Portland,ME,US,66881,43.65737,-70.2589,0,0,3.637,0,...,1.97025,8.671,6.3585,7.747,3.6245,7.6755,6.5145,4.062,3.5465,3.305
22,Detroit,MI,US,677116,42.33143,-83.04575,6.223,6.032,5.4015,5.184,...,0.933,8.671,4.4615,8.279,5.8185,4.04675,6.5145,3.7785,6.167,7.478
23,Minneapolis,MN,US,410939,44.97997,-93.26384,4.7385,5.042,6.5265,5.523,...,4.925,8.671,5.085,8.972,5.2745,8.362,6.5145,4.062,6.2585,6.8505
24,Kansas City,MO,US,475378,39.09973,-94.57857,6.7075,5.844,2.794,3.538,...,1.9725,8.671,4.4225,8.77567,3.6245,7.9765,6.5145,4.062,8.1885,6.6745
25,Jackson,MS,US,170674,32.29876,-90.18481,,,,,...,,,,,,,,,,
26,Billings,MT,US,110263,45.78329,-108.50069,,,,,...,,,,,,,,,,
27,Charlotte,NC,US,827097,35.22709,-80.84313,5.549,4.987,6.248,2.878,...,4.134,8.671,5.3475,8.81133,3.6245,8.00925,6.5145,4.062,6.387,5.606
28,Fargo,ND,US,118523,46.87719,-96.7898,,,,,...,,,,,,,,,,
29,Omaha,NE,US,443885,41.25626,-95.94043,7.0405,5.994,4.012,0,...,2.12775,8.671,5.552,8.88,4.128,7.876,6.5145,4.204,6.3065,4.942
30,Manchester,NH,US,110229,42.99564,-71.45479,,,,,...,,,,,,,,,,
31,Newark,NJ,US,281944,40.73566,-74.17237,1,2.342,10,10,...,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
32,Albuquerque,NM,US,559121,35.08449,-106.65114,7.262,6.059,3.772,1.493,...,5.05575,8.671,1.3435,8.50867,4.152,7.3195,6.5145,4.346,5.396,4.89
33,Las Vegas,NV,US,623747,36.17497,-115.13722,7.001,5.759,7.515,2.022,...,4.8075,8.671,2.385,7.98467,3.6245,5.5565,6.5145,4.772,5.3035,6.3685
34,New York City,NY,US,8175133,40.71427,-74.00597,1,2.342,10,10,...,5.51925,8.671,7.022,8.50167,8.0935,5.23375,6.5145,3.9205,7.0985,10
35,Columbus,OH,US,850106,39.96118,-82.99879,6.2895,5.746,5.8785,4.973,...,5.02675,8.671,5.2815,8.689,5.0475,8.166,6.5145,3.9205,4.5535,6.466
36,Oklahoma City,OK,US,631346,35.46756,-97.51643,7.261,6.394,4.1375,0,...,5.02725,8.671,4.6855,8.549,3.6245,7.61525,6.5145,4.204,7.689,5.376
37,Portland,OR,US,632309,45.52345,-122.67621,4.138,4.924,6.957,5.899,...,4.908,8.671,5.1805,8.59667,4.2155,8.4595,6.5145,3.9205,5.9685,6.2195
38,Philadelphia,PA,US,1567442,39.95233,-75.16379,4.207,4.422,7.3625,5.216,...,4.1315,8.671,3.133,8.62167,6.0285,5.124,6.5145,3.7785,7.443,8.492
39,Providence,RI,US,179207,41.82399,-71.41283,3.153,0,3.764,1,...,2.422,8.671,6.846,8.88533,5.3015,5.9005,6.5145,4.204,8.9345,3.9185
40,Columbia,SC,US,133803,34.00071,-81.03481,,,,,...,,,,,,,,,,
41,Sioux Falls,SD,US,171544,43.54997,-96.70033,,,,,...,,,,,,,,,,
42,Memphis,TN,US,655770,35.14953,-90.04898,7.1145,5.829,4.4495,0,...,1.9175,8.671,2.8585,7.52367,3.6245,4.54525,6.5145,4.772,6.07,6.8605
43,Houston,TX,US,2296224,29.76328,-95.36327,5.2245,6.162,7.9345,4.474,...,4.03075,8.671,3.129,8.611,4.928,5.3045,6.5145,4.772,6.2485,7.144
44,Salt Lake City,UT,US,192672,40.76078,-111.89105,6.141,6.172,6.3,7.09,...,4.574,8.671,5.657,8.81867,4.2805,6.21575,6.5145,4.204,6.8105,5.932
45,Virginia Beach,VA,US,452745,36.85293,-75.97799,,,,,...,,,,,,,,,,
46,Burlington,VT,US,42452,44.47588,-73.21207,,,,,...,,,,,,,,,,
47,Seattle,WA,US,684451,47.60621,-122.33207,2.291,3.79,8.367,7.551,...,4.52375,8.671,5.6365,8.72433,5.7145,7.56025,6.5145,4.772,4.9405,8.1155
48,Milwaukee,WI,US,600155,43.0389,-87.90647,6.1225,5.526,4.8305,2.005,...,4.915,8.671,4.267,8.59433,4.177,7.989,6.5145,4.204,4.346,6.8375
49,Charleston,WV,US,49736,38.34982,-81.63262,,,,,...,,,,,,,,,,
50,Cheyenne,WY,US,63335,41.13998,-104.82025,,,,,...,,,,,,,,,,

In [105]:
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
the_results = requests.get("https://data.cdc.gov/resource/vdpk-qzpr.json?year=2015&state=Minnesota&locality=Metropolitan").json()


# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(the_results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,year,cause_of_death,state,state_fips_code,hhs_region,age_range,benchmark,locality,observed_deaths,population,expected_deaths,potentially_excess_deaths,percent_potentially_excess_deaths
0,2015,Cancer,Minnesota,MN,5,0-49,2005 Fixed,Metropolitan,366,2835223,378,9,2.50
1,2015,Cancer,Minnesota,MN,5,0-49,2010 Fixed,Metropolitan,366,2835223,352,17,4.60
2,2015,Cancer,Minnesota,MN,5,0-49,Floating,Metropolitan,366,2835223,306,60,16.40
3,2015,Cancer,Minnesota,MN,5,0-54,2005 Fixed,Metropolitan,683,3142775,695,13,1.90
4,2015,Cancer,Minnesota,MN,5,0-54,2010 Fixed,Metropolitan,683,3142775,678,20,2.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2015,Unintentional Injury,Minnesota,MN,5,0-79,2010 Fixed,Metropolitan,1148,4103581,803,354,30.80
116,2015,Unintentional Injury,Minnesota,MN,5,0-79,Floating,Metropolitan,1148,4103581,912,236,20.60
117,2015,Unintentional Injury,Minnesota,MN,5,0-84,2005 Fixed,Metropolitan,1309,4171817,813,512,39.10
118,2015,Unintentional Injury,Minnesota,MN,5,0-84,2010 Fixed,Metropolitan,1309,4171817,851,459,35.10
119,2015,Unintentional Injury,Minnesota,MN,5,0-84,Floating,Metropolitan,1309,4171817,992,324,24.80

In [106]:
results_df['cause_of_death'].value_counts()

Heart Disease                        24
Chronic Lower Respiratory Disease    24
Unintentional Injury                 24
Cancer                               24
Stroke                               24
Name: cause_of_death, dtype: int64